<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip"               default="172.16.0.2"/>
  <arg name="load_gripper"           default="true" />
  <arg name="use_gripper_gui"        default="true" />
  <arg name="load_franka_control"    default="false" />

  <!-- Bringup franka_interactive_bringup.laucnh -->
  <group if="$(arg load_franka_control)">
    <include file="$(find franka_interactive_controllers)/launch/franka_interactive_bringup.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="load_gripper" value="$(arg load_gripper)" />
      <arg name="use_gripper_gui" value="$(arg use_gripper_gui)" />
      <arg name="bringup_rviz" value="true" />
    </include>
  </group>
  
  <!-- Load desired controller-->  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="passive_ds_impedance_controller"/>
  <rosparam  ns="passive_ds_impedance_controller" command="load" file="$(find franka_interactive_controllers)/config/impedance_control_additional_params.yaml"/>

</launch>
